.DS_Store
node_modules/
bower_components/
www/*
!www/wp-content
www/wp-content/*
!www/wp-content/themes
www/wp-content/themes/*
!www/wp-content/themes/theme
assets/js/lib/
assets/css/less/bootstrap/
assets/css/less/chosen/
assets/img/chosen/
assets/fonts/bootstrap/

shop/assets

config.json